---
name: 'checks'

'on':
  pull_request:
    branches:
      - 'main'

jobs:
  static-analysis:
    uses: broadinstitute/shared-workflows/.github/workflows/puppet-linting.yml@v1.4.0
  unit-tests:
    uses: broadinstitute/shared-workflows/.github/workflows/puppet-unit-tests.yml@v1.4.0
